@charset "UTF-8";
/* CSS Document */

/* Index */
/*	1.	Font Description
		a. Font-Family : Heading Styles, Footer Contact, Subsection-Italics
		b. Font Color

*/

	* {
		font-family: 'Raleway', sans-serif;
		color:inherit;
	}

	h1, h2, h3,u, .contact li, .subsection-italic{
		font-family: 'Playfair Display', serif;
	}

	.font-black{
		color:#000;
	}

	.font-white{
		color:#fff;
	}

	.font-grey{
		color:#969696;
	}

	.font-pink{
		color:#e2574c;
	}
