/css/theme.css
/css/!flex.css
/css/!font.css
/css/!reset.css
/images/cotton-blue-shirt.jpg
/images/stretch-knit-dress.jpg
/images/!aloha-logo.svg
/images/!banner-girl.png
/images/!blue-hipster-backpack.jpg
/images/!cart-icon.svg
/images/!checked-stretch-dress.jpg
/images/!flower-bkgd.jpg
/images/!wave-bkgd.jpg
*.DS_Store